/**
 * The following styles get applied inside the editor only.
 *
 */

/* Highlight blocks in editor that have visibility rules */
.bvs-has-visibility-rule {
	position: relative;
	transition: 0.3s ease-in-out;
	border: 2px dashed #808080;
	background-color: #dcdcdc;
}